// font set
@import url(https://fonts.googleapis.com/css?family=Montserrat|Lato|Open+Sans|Playfair+Display|Alegreya);

.Montserrat{font-family: Montserrat}
.Lato{font-family: Lato}
.OpenSans{font-family: "Open Sans"}
.PlayfairDisplay{font-family: "Playfair Display"}
.Alegreya{font-family: Alegreya}

// variables
@base-fontfamily: "HelveticaNeue-UltraLight", sans-serif;

//===============
// basic styles
//===============

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

ul,ol{
	list-style-type: none;
}

// ------------------
// layout
// ------------------

html,body{
	height: 100%;
}

body{
	overflow: hidden;
	color: #FFF;
	font-family: @base-fontfamily;
}

.bg{
	width: 100%;
	text-align: center;
	img{
		position: absolute;
		left: 0;
		top: 100px;
		width: 200%;
		@media screen and (min-width: 768px) {
			width: 100%;
			top: 600px;
		}
		@media screen and (min-width: 1000px) {
			width: 100%;
			top: 100px;
		}
	}
}

.setting{
	position: absolute;
	top: 0;
	left: -350px;
	width: 350px;
	height: 100%;
	float: left;
	opacity: 0.8;
	background: #000;
	a{color: #FFF;}
	h2{margin-bottom: 10px;}
	form{margin-bottom: 3px;}
	footer{
		position: absolute;
		width: inherit;
		bottom: 4em;
		padding-top: 20px;
		text-align: center;
	}

	.column-2{
		input[type=button]{
			width: 41.5%;
			display: inline-table;
		}
	}



	.set-startpage{
		margin-top: 60px;
		input[type=submit]{
			background: #1559EB;
		}
	}
}

.detail{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	float: left;
}

.clock{
	width: 100%;
	float: left;
	padding: 5%;
	font-size: 150px;
	line-height: 1;
	@media screen and (min-width: 768px) {
		font-size: 300px;
	}
	.hm{
		width: 100%;
		display: inline-block;
	}
	.dw{
		display :block;
		font-size: 50px;
		margin-left: .8em;
	}
}

.weather{
	clear: both;
	padding-top: 20px;
	ul{
		padding: 0;
		padding-top: 20px;
		font-size: 30px;
		line-height: 39px;
		border-top: 1px solid;
		li{
			display: inline-block;
			width: 23%;
			margin: -40px 0 0 0;
			padding: 0;
			vertical-align: top;
			text-align: center;
			time,img,.rainfall{
				display: block;
				margin: 0 auto;
			}
			time{
				small {
					padding-left: 5px;
					font-size: 16px;
				}
			}
			i{
				min-height: 1em;
				font-size: 60px;
			}
			.rainfall{
				margin-top: 10px;
				font-size: 20px;
				line-height: 26px;
			}
		}
		li:before{
			display: block;
			content: "・";
		}
	}
}