//===============
// variables
//===============
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

//===============
// basic styles
//===============

html,body{
	height: 100%;
}

body{
	overflow: hidden;
	color: #FFF;
	font-family: "HelveticaNeue-UltraLight";
}

ul,ol{
	list-style-type: none;
}

// ------------------
// layout
// ------------------

.bg{
	width: 100%;
	text-align: center;
	img{
		position: absolute;
		left: 0;
		top: 100px;
		width: 200%;
		@media screen and (min-width: 768px) {
			width: 100%;
			top: 600px;
		}
		@media screen and (min-width: 1000px) {
			width: 100%;
			top: 100px;
		}
	}
}

.setting{
	position: absolute;
	top: 0;
	left: -370px;
	width: 350px;
	height: 100%;
	float: left;
	padding: 10px;
	opacity: 0.8;
	background: #000;
}

.detail{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	float: left;
}

.clock{
	width: 100%;
	float: left;
	padding: 5%;
	font-family:"HelveticaNeue-UltraLight";
	font-size: 150px;
	color: #FFFFFF;
	line-height: 1;
	@media screen and (min-width: 768px) {
		font-size: 300px;
	}
	.hm{
		width: 100%;
		display: inline-block;
	}
	.dw{
		display :block;
		font-family: "Roboto-Light";
		font-size: 50px;
		margin-left: 14px;
	}
}

// .schedule{
// 	display: none;
// 	margin-top: 40px;
// 	font-family: "Roboto-Light";
// 	font-size: 30px;
// 	color: #FFFFFF;
// 	line-height: 2;
// 	opacity: 0.5;
// 	ol{
// 		list-style-type: none;
// 	}
// }

.weather{
	clear: both;
	padding-top: 20px;
	ul{
		padding: 0;
		padding-top: 20px;
		font-family: Roboto-Bold;
		font-size: 30px;
		color: #FFFFFF;
		line-height: 39px;
		border-top: 1px solid;
		li{
			display: inline-block;
			width: 23%;
			margin: -40px 0 0 0;
			padding: 0;
			vertical-align: top;
			text-align: center;
			time,img,.rainfall{
				display: block;
				margin: 0 auto;
			}
			time{
				small {
					padding-left: 5px;
					font-size: 16px;
				}
			}
			.icon{
				min-height: 60px;
				img{
					width: 80%;
						@media screen and (min-width: 768px) {
							width: 20%;
						}
				}
			}
			.rainfall{
				font-family: Roboto-Bold;
				font-size: 20px;
				color: #FFFFFF;
				line-height: 26px;
			}
		}
		li:before{
			display: block;
			content: "・";
		}
	}
}