form {
  padding: 0px;
}
select,
input {
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
  font-family: "HelveticaNeue-UltraLight", "Yu Gothic", Meiryo, "Helvetica Neue Light", sans-serif;
  margin-bottom: 3px;
  padding: 10px;
  background: #222;
  border-radius: 3px;
}
