@import url(https://fonts.googleapis.com/css?family=Montserrat|Lato|Open+Sans|Playfair+Display|Alegreya);
select,
input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
  border: none;
}
form {
  padding: 0px;
}
select,
input {
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
  font-family: "HelveticaNeue-UltraLight", sans-serif;
  margin-bottom: 3px;
  padding: 10px;
  background: #222;
  border-radius: 3px;
}
.Montserrat {
  font-family: Montserrat;
}
.Lato {
  font-family: Lato;
}
.OpenSans {
  font-family: "Open Sans";
}
.PlayfairDisplay {
  font-family: "Playfair Display";
}
.Alegreya {
  font-family: Alegreya;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul,
ol {
  list-style-type: none;
}
html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  color: #FFF;
  font-family: "HelveticaNeue-UltraLight", sans-serif;
}
.bg {
  width: 100%;
  text-align: center;
}
.bg img {
  position: absolute;
  left: 0;
  top: 100px;
  width: 200%;
}
@media screen and (min-width: 768px) {
  .bg img {
    width: 100%;
    top: 600px;
  }
}
@media screen and (min-width: 1000px) {
  .bg img {
    width: 100%;
    top: 100px;
  }
}
.setting {
  position: absolute;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100%;
  float: left;
  opacity: 0.8;
  background: #000;
}
.setting a {
  color: #FFF;
}
.setting h2 {
  margin-bottom: 10px;
}
.setting form {
  margin-bottom: 3px;
}
.setting footer {
  position: absolute;
  width: inherit;
  bottom: 4em;
  padding-top: 20px;
  text-align: center;
}
.setting .column-2 input[type=button] {
  width: 41.5%;
  display: inline-table;
}
.setting .set-startpage {
  margin-top: 60px;
}
.setting .set-startpage input[type=submit] {
  background: #1559EB;
}
.detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float: left;
}
.clock {
  width: 100%;
  float: left;
  padding: 5%;
  font-size: 150px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .clock {
    font-size: 300px;
  }
}
.clock .hm {
  width: 100%;
  display: inline-block;
}
.clock .dw {
  display: block;
  font-size: 50px;
  margin-left: .8em;
}
.weather {
  clear: both;
  padding-top: 20px;
}
.weather ul {
  padding: 0;
  padding-top: 20px;
  font-size: 30px;
  line-height: 39px;
  border-top: 1px solid;
}
.weather ul li {
  display: inline-block;
  width: 23%;
  margin: -40px 0 0 0;
  padding: 0;
  vertical-align: top;
  text-align: center;
}
.weather ul li time,
.weather ul li img,
.weather ul li .rainfall {
  display: block;
  margin: 0 auto;
}
.weather ul li time small {
  padding-left: 5px;
  font-size: 16px;
}
.weather ul li .icon {
  min-height: 60px;
}
.weather ul li .icon img {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .weather ul li .icon img {
    width: 20%;
  }
}
.weather ul li .rainfall {
  font-size: 20px;
  line-height: 26px;
}
.weather ul li:before {
  display: block;
  content: "・";
}
body {
  animation: color-change 10s infinite alternate;
}
@keyframes color-change {
  0% {
    background-color: #ac70c7;
  }
  25% {
    background-color: #c7b370;
  }
  50% {
    background-color: #c79970;
  }
  75% {
    background-color: #707ac7;
  }
  100% {
    background-color: #ac70c7;
  }
}
.bg img {
  animation: rotate-sun 10s infinite linear;
}
@keyframes rotate-sun {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  75% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-270deg);
  }
}
.weather ul {
  animation-duration: 10s;
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 0% 0%;
}
@keyframes animationFrames {
  0% {
    left: 0px;
    top: 0px;
    opacity: 1;
    transform: rotate(0deg) scaleX(0) scaleY(1);
  }
  100% {
    left: 0px;
    top: 0px;
    opacity: 1;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
}
@keyframes animationFrames {
  0% {
    left: 0px;
    top: 0px;
    opacity: 1;
    transform: rotate(0deg) scaleX(0) scaleY(1);
  }
  100% {
    left: 0px;
    top: 0px;
    opacity: 1;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
}
.fade-in-1 {
  animation-delay: 1.5s;
}
.fade-in-2 {
  animation-delay: 1.6s;
}
.fade-in-3 {
  animation-delay: 1.8s;
}
.fade-in-4 {
  animation-delay: 1.9s;
}
.fade-in-5 {
  animation-delay: 2s;
}
.fade-in-6 {
  animation-delay: 0.6s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
}
.fade-in-7 {
  animation-delay: 0.9s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
}
#blink {
  animation-duration: 10s;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
